<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{css href='__CSS__/css1.css,__IMG__\font-awesome-4.7.0\css\font-awesome.min.css'}
</head>
<body>
<div class="test">
    <a class="kill" >
        <div class="seckill-title">京东秒杀</div>
        <div class="countdown-desc">
            <strong>14:00</strong>
             点场 倒计时
        </div>
        <div>
            <span class="countdown-main">
                <span>
                    00
                </span>:
                <span>
                    15
                </span>:
                <span>
                    25
                </span>
            </span>
        </div>
    </a>
    <div class="seckill-list" >
        <button class="slider1">
         按钮
        </button>
    </div>
    <a class="seckill-brand">

    </a>
</div>
</body>
</html>